<h1 class="titulo-books">All Books here:</h1>
<div class="container-books container-fluid d-flex justify-content-center align-items-center">
  <% @books.each do |book| %>
    <div class = 'container-book mx-2 bg-body-tertiary rounded'>
      <h3 class = 'align-baseline'> <%= book.title %> </h3>
      <%= link_to 'see More', book_path(book), :class => 'btn btn-default'  %>
    </div>
  <% end %>
</div>
